*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background: #D9DAD7;
}

.signup {
  color: black;
}


/* add a item styles */
.form-container {
  margin: 0 auto;
  width: 30%;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form div {
  margin: .2rem 0;
}

/* user cards */
.user-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem;
}

.user-card {
  margin: 1rem;
}
