*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.signup {
  color: black;
}

.form-container {
  margin: 0 auto;
  width: 30%;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form div {
  margin: .2rem 0;
}

